* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;

  grid-template-areas:
    "header header"
    "nav content"
    "footer footer";

  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
  border: 1px solid red;
  grid-area: header;
}

nav {
  border: 1px solid green;
  grid-area: nav;
}

main {
  border: 1px solid black;
  grid-area: content;
}

footer {
  border: 1px solid green;
  grid-area: footer;
}
